<ion-header>
  <ion-toolbar>
    <ion-title>
      Almacenamiento Seguro de Contraseñas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input aria-label="Título" formControlName="title" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input aria-label="Usuario" type="text" formControlName="username" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input aria-label="Contraseña" type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tipo de Contraseña</ion-label>
      <ion-select aria-label="Tipo de contraseña" type="password" formControlName="passwordType">
        <ion-select-option value="Bancaria">Bancaria</ion-select-option>
        <ion-select-option value="Correos">Correos</ion-select-option>
        <ion-select-option value="Web">Website</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!passwordForm.valid">Guardar</ion-button>
  </form>
</ion-content>
