<ion-grid class="grid-content">
  <ion-row style="margin-top: 50px;" >
    <ion-col>
      <ion-title class="title" style="padding: 0;height: 50px; width: 96%"><ion-icon name="key"></ion-icon> Almacenamiento Seguro de Contraseñas</ion-title>
    </ion-col>
  </ion-row>
  
  <ion-accordion-group style="margin-top: 50px;">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-icon name="logo-web-component"></ion-icon> <ion-label class="label-tipo">Contraseñas tipo Páginas</ion-label>
      </ion-item>
      <ion-item-group *ngFor="let password of passwords" slot="content">
        <ion-card *ngIf="password.passwordType === 'web'">        
            <ion-card-header class="label-data">{{ password.title }}</ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-text>{{ password.username }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-text [class.blur]="isBlur">{{ password.password }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-button (click)="removeBlurClass()"><ion-icon class="show-data" name="eye"></ion-icon></ion-button>
                <ion-button (click)="copyPassword(password.password)"><ion-icon class="copy-data" name="copy"></ion-icon></ion-button>
                <ion-button (click)="removePassword(password.title)">Eliminar</ion-button>
              </ion-item>
            </ion-card-content>

        </ion-card>
      </ion-item-group>
    </ion-accordion>
  </ion-accordion-group>


  <ion-accordion-group style="margin-top: 50px;">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-icon name="logo-web-component"></ion-icon> <ion-label class="label-tipo">Contraseñas Bancarias</ion-label>
      </ion-item>
      <ion-item-group *ngFor="let password of passwords" slot="content">
        <ion-card *ngIf="password.passwordType === 'Bancaria'">        
            <ion-card-header class="label-data">{{ password.title }}</ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-text>{{ password.username }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-text [class.blur]="isBlur">{{ password.password }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-button (click)="removeBlurClass()"><ion-icon class="show-data" name="eye"></ion-icon></ion-button>
                <ion-button (click)="copyPassword(password.password)"><ion-icon class="copy-data" name="copy"></ion-icon></ion-button>
                <ion-button (click)="removePassword(password.title)">Eliminar</ion-button>
              </ion-item>
            </ion-card-content>

        </ion-card>
      </ion-item-group>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group style="margin-top: 50px;">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-icon name="logo-web-component"></ion-icon> <ion-label class="label-tipo">Contraseñas tipo Correos</ion-label>
      </ion-item>
      <ion-item-group *ngFor="let element of jsonData" slot="content">
        <ion-card *ngIf="element.Type === 'Email'">        
            <ion-card-header class="label-data">{{ element.title }}</ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-text>{{ element.user }}</ion-text>
              </ion-item>
              <ion-item *ngIf="element.password !=''">
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-text [class.blur]="isBlur">{{ element.password }}</ion-text>
                <ion-button (click)="copyPassword(element.password)"><ion-icon class="copy-data" name="copy"></ion-icon></ion-button>

              </ion-item>
              <ion-item *ngIf="element.ContraseniaGoogle !=''">
                <ion-label position="stacked">Contraseña Google</ion-label>
                <ion-text [class.blur]="isBlur">{{ element.ContraseniaGoogle }}</ion-text>
                <ion-button (click)="copyPassword(element.ContraseniaGoogle)"><ion-icon class="copy-data" name="copy"></ion-icon></ion-button>

              </ion-item>
              <ion-item *ngIf="element.ContraseniaOutlook !=''">
                <ion-label position="stacked">Contraseña Outlook</ion-label>
                <ion-text [class.blur]="isBlur">{{ element.ContraseniaOutlook }}</ion-text>
                <ion-button (click)="copyPassword(element.ContraseniaOutlook )"><ion-icon class="copy-data" name="copy"></ion-icon></ion-button>

              </ion-item>
              <ion-item>
                <ion-button (click)="removeBlurClass()"><ion-icon class="show-data" name="eye"></ion-icon></ion-button>
                <ion-button (click)="removePassword(element.title)">Eliminar</ion-button>
              </ion-item>
            </ion-card-content>

        </ion-card>
      </ion-item-group>
      
      <ion-item-group *ngFor="let password of passwords" slot="content">
        <ion-card *ngIf="password.passwordType === 'Correos'">        
            <ion-card-header class="label-data">{{ password.title }}</ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-text>{{ password.username }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-text [class.blur]="isBlur">{{ password.password }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-button (click)="removeBlurClass()"><ion-icon class="show-data" name="eye"></ion-icon></ion-button>
                <ion-button (click)="copyPassword(password.password)"><ion-icon class="copy-data" name="copy"></ion-icon></ion-button>
                <ion-button (click)="removePassword(password.title)">Eliminar</ion-button>
              </ion-item>
            </ion-card-content>

        </ion-card>
      </ion-item-group>

   

    </ion-accordion>
  </ion-accordion-group>

</ion-grid>
