.blur{
    filter: blur(5px);
}
.grid-content{
    width:100%;
    overflow: scroll;
}
ion-icon.ios.hydrated {
    margin-right: 10px;
}

.label-tipo{
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom  :  solid 2px;
}