<ion-app>
  <app-header></app-header>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">         
      <ion-content>
        <ion-img style="width: 150px; margin: 50px auto 10px" class="logo" src="../assets/images/LogoGAT-2k.png" alt="logo"></ion-img>
        <ion-button style="width: 80%; margin: 20px auto 10px; display: block" routerLink="/home">Principal</ion-button> 
        <ion-button style="width: 80%; margin: 20px auto 10px; display: block" routerLink="/create">Crear contraseña</ion-button> 
        <ion-button style="width: 80%; margin: 20px auto 10px; display: block" routerLink="/show">Ver Contraseñas</ion-button> 
        <ion-button style="width: 80%; margin: 20px auto 10px; display: block" (click)="logout()">
            Cerrar Sesión
          </ion-button>
  

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"> </ion-router-outlet>
  </ion-split-pane>
</ion-app>
