<ion-app class="container-page">
  <app-header></app-header>
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="../../../assets/images/head.jpeg" />
            <ion-card-header>
              <ion-card-title>Crear Contraseña</ion-card-title>
              <ion-card-subtitle>Crear una nueva contraseña</ion-card-subtitle>              
            </ion-card-header>
            <ion-card-content>
              <ion-button><a href="/create">Ir</a></ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="../../../assets/images/head.jpeg" />
            <ion-card-header>
              <ion-card-title>Ver Contraseña</ion-card-title>
              <ion-card-subtitle>Ver la lista de contraseñas guardadas</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button><a href="/show">Ir</a></ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
  </ion-grid> 
  </ion-app>